{{> layout.hbs}}
<div class="animal">
<h1>Hi Ranger! What Would You Like To Do?</h1>
<hr>
<h3>Add a sighting of an animal?</h3>
<p>To add a new sighting of an animal click <a href="/animals/new">here</a></p>
<br>
<h3>See all sightings of animals</h3>
<p>To see all the animals, click <a href="/animals/all">here</a></p>
</div>