{{> layout.hbs}}
<div class="content">
  <h1>Welcome to WildLife Warriors Ranger!</h1>
    <hr>
    <p>To get started: </p>
    <ul>
        <li><h3>Add An animal Sighting <a href="/animals/new">here</a></h3></li>
        <br>
        <li><h3>Add An Endangered Animal Sighting <a href="/endangered/new">here</a></h3></li>
        <br>
        <li><h3>View all Animals Sighted<a href="/animals/all">here</a></h3></li>
        <br>
        <li><h3>View all Endangered Animals Sighted<a href="/endangered/all">here</a></h3></li>
        <br>
    </ull>
    </div>