{{> layout.hbs}}
<div class="endangered">
<h1>Hi Ranger! What Would You Like To Do?</h1>
<hr>
<h3>Add a sighting of and endangered animal?</h3>
<p>To add a new sighting of an endangered animal click <a href="/endangered/new">here</a></p>
<p>To see all the endangered animals, click <a href="/endangered/all">here</a></p>
</div>