{{> layout.hbs}}
<div class="content">
<h1>Welcome to WildLife Warriors Ranger!</h1>
    <p>To get started: </p>
    <ol>
        <li>Add An animal Sighting <a href="/animals/new">here</a></li>
        <li>Add An Endangered Animal Sighting <a href="/endangered/new">here</a></li>
        <li>View all Animals Sighted<a href="/animals/all">here</a></a></li>
        <li>View all Endangered Animals Sighted<a href="/endangered/all">here</a></a></li>
    </ol>
    </div>