{{#block "header"}}
<!DOCTYPE html>
<html>
<head>
   <title>{{#block "title"}}Wildlife-Warriors{{/block}}</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Elite&family=Updock&display=swap" rel="stylesheet">
   <link href="styles/styles.css" rel="stylesheet">
</head>
<body>
{{/block}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">HEROES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/heroes">See all Heroes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/heroes/new">Create your Hero</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/squad/new">Choose Squad</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">rel="stylesheet"
   <!--begin main template-->
   <div class="page-header">
       <h1>WILDLIFE WARRIORS</h1>
   </div>

   <div class="col-md-12">
       {{#block "content"}}
       {{/block}}

   </div>
</div>
<!--end main template-->
{{#block "footer"}}
   <footer class="footer">
       <div class="container">
<!--            <hr> -->
<!--            <p class="text-muted"> -->
<!--               <a href="/categories/delete">delete all categories & tasks</a><br> -->
<!--               <a href="/tasks/delete">delete all tasks</a> -->
<!--            </p> -->
       </div>
   </footer>
   </body>

   </html>
{{/block}}